# Folders
EnvAirlines
saved_models
media
logs
DBT/logs/


# Files
.env
*.log
*.logs


# Pyhton
__pycache__


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?