# Data manipulation
pandas>=2.2.0
numpy>=1.26.0

# Base de données
psycopg2-binary>=2.9.9

# Variables d'environnement
python-dotenv>=1.0.0

# APIs
requests>=2.32.0
httpx>=0.27.0

# Utilitaires
tqdm>=4.66.0

# Pour le formatage des dates
python-dateutil>=2.9.0